div.headers {
    width: 100%;
    height: 5em;
    overflow-y: scroll;
}

table.headers {
    background-color: #dfe;
    font-size: 8pt;
    width: 100%;
}

table.headers tr > td:first-child {
  padding-left: 1em;
  padding-right: 1em;
  text-align: right;
  font-weight: bold;
  width: 16em;
}

div#head {
    position: fixed;
    top: 0;
    left: 0;
    /* left: 0px; */
    /* float: right; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 100%;
    height: 6em;
    padding: 3ex;
    /* background-color: #ed8; */
}

div#head.search {
    background-image: linear-gradient(to right, #ba5, #ed8);
}

div#head.auth {
    background-image: linear-gradient(to right, #999, #ccc);
}

div#head img {
    float: right;
    height: 7ex;
    margin-top: -1ex;
    margin-left: 1em;
    /* margin-right: 1em; */
}

div#head input {
    margin-left: 1ex;
    margin-right: 2em;
}

div#head input.entry {
    width: 35em;
    margin-left: 1ex;
    margin-right: 2em;
}

div#head input.check {
    margin-right: 1ex;
}

div#head a {
    float: right;
}

div#head.auth input {
    width: 10em;
}

div.profile {
    height: 500px;
    width: 100%;
    overflow-y: scroll;
}

div.profile pre {
    font-size: 7pt;
    font-style: sans;
}

div.list {
    padding-top: 9em;
    font-size: 8pt;
    width: 100%;
    height: 20%;
}

div.list table {
    width: 100%;
}

div.list td {
    padding: 0.5ex;
}

div.list tr {
    padding: 0.5ex;
}

div.list tr.odd {
    background-color: #fff;
}

div.list tr.even {
    background-color: #eee;
}

div.list tr:hover {
    background-color: #dec;
}

div.list table tr td img {
    padding:1px;
    border:1px solid #a78;	/* #021a40 */
}

div.list table tr td:nth-child(3) {
    text-align: right;
}

div#login {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

div#login form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
